/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/MANIFEST.SKIP.bak
/Build
/_build/
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
*~
*#
.#*
/Travis-Test-Dist-MB-*/
/Travis-Test-Dist-MB-*.tar.gz
/cover_db/
